:root{
    /*colors*/
    --purple-100:hsl(254, 88%, 90%);
    --purple-500:hsl(256, 67%, 59%);
    --yellow-100:hsl(31, 66%, 93%);
    --yellow-500:hsl(39, 100%, 71%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
    /*font*/
    --fontSz:18px;
    --fontFml:[DM Sans](https://fonts.google.com/specimen/DM+Sans);
    --fontWgt-400:400;
    --fontWgt-500:500;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: "DM Sans",sans-serif;
     letter-spacing: 0.3px;
    font-size: 18px;
    margin:0;
    line-height: 1.5;
    background: var(--white);
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
display: flex;
justify-content: center;
align-items: center;

}
img{
    display: block;
    max-width: 100%;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
}
.container #img1{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--purple-500);
    padding: 20px;
    border-radius: 15px;
    height: auto;
    color: var(--white);
    font-size: 20px;
    font-weight: var(--fontWgt-500);

}
.container #img1 span{
    color: var(--yellow-500);
}
#img1 p:last-child{
    font-size: 16px;
    font-weight:var(--fontWgt-400) ;
    
}
.container #img2{
    display: flex;
    flex-direction: column;
    text-align: left;
    background: var(--white);
    padding: 20px;
    border-radius: 15px;
    height: auto;
    color: var(--black);
    font-size: 20px;
    font-weight: var(--fontWgt-500);
}
.container #img3{
    display: flex;
    flex-direction: column;
    text-align: left;
    background: var(--yellow-500);
     padding:10px;
    padding-right: 30%;
    border-radius: 15px;
    height: auto;
    color: var(--black);
    font-size: 20px;
    font-weight: var(--fontWgt-500);
    overflow: hidden;
    position: relative;
    
}
.container #img3 img{
    position: relative;
    bottom: -20px;
    
}

.container #img4{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--purple-100);
    padding: 20px;
    border-radius: 15px;
    height: auto;
    color: var(--black);
    font-size: 20px;
    font-weight: var(--fontWgt-500);
}
.container #img4 p:nth-child(3),
.container #img4 p:nth-child(4),
.container #img4 p:nth-child(5){
    font-size: 16px;
    font-weight:var(--fontWgt-500) ;
     
}
.container #img5{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--purple-500);
    padding: 20px 40px;
    border-radius: 15px;
    height: auto;
    color: var(--white);
    font-size: 20px;
    font-weight: var(--fontWgt-500)
}
.container #img6{
    display: flex;
    flex-direction: column;
    text-align:left;
    background: var(--white);
    padding: 20px;
    border-radius: 15px;
    height: auto;
    color: var(--black);
    font-size: 20px;
    font-weight: var(--fontWgt-500)
}
.container #img7{
    display: flex;
    flex-direction: column;
    text-align: left;
    background: var(--yellow-100);
    padding: 30px;
    border-radius: 15px;
    height: auto;
    color: var(--black);
    font-size: 20px;
    font-weight: var(--fontWgt-500)
}
.container #img7 span{
    color: var(--purple-500);
    font-style: italic;
}
.container #img8{
    display: flex;
    flex-direction: column;
    text-align: left;
    background: var(--yellow-500);
    padding: 20px;
    padding-right: 30%;
    border-radius: 15px;
    height: auto;
    color: var(--black);
    font-size: 20px;
    font-weight: var(--fontWgt-500)
}
@media(min-width:450px){
    .container{
        max-width: 500px;
    }
}
@media(min-width:750px){
    .container{
        font-size: 70px;
        font-weight: 600;
        max-width: 1000px;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(150px,auto);
        

    }
    .container #img1{
        grid-column: 2/4;
    }
    .container #img2{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .container #img3{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .container #img4{
    
        grid-column: 4/5;
        grid-row: 1/3;
        text-align: left;
    }
    .container #img5 img{
        max-width: 200px;
    }
    .container #img5{
        grid-column: 3/5;
      position: relative;
    }
    .container #img5 p{
        text-align: left;
        position: relative;
        top: -150px;
        left: 250px;
        text-wrap: wrap;
    }

    .container #img6{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .container #img7{
        grid-column: 1/2;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
        align-items: center;
        

    }
    .container #img8{
        grid-column: 1/2;
        grid-row: 3/4;
    }
}